
@{
    ViewBag.Title = "Examinations";
}
<style>
    table {
background-color:greenyellow
    }
</style>
<h2 style="text-align:center">Examination Schedule</h2>
<h2 style="background-color:cornsilk;color:green" >
<marquee typeof="alternate">All the Best For Your Exams Students</marquee></h2>
<table align="center" style="font-size:15px;width:70%;height:60%" class="table-bordered" >
    <tr>
        <th>Type Of Assessment</th>
        <th>Schedule</th>
    </tr>
    <tr>
        <td>Formative Assessment (FA)-1</td>
        <td>By 31.07.2025</td>
    </tr>
    <tr>
        <td>Formative Assessment (FA)-2</td>
        <td>By 30.09.2025</td>
    </tr>
    <tr>
        <td>Summative Assessment (SA)-1</td>
        <td>By 24.10.2025 to 31.10.2025</td>
    </tr>
    <tr>
        <td>Formative Assessment (FA)-3</td>
        <td>By 23.12.2025</td>
    </tr>
    <tr>
        <td>Formative Assessment (FA)-4</td>
        <td>By 28.02.2026</td>
    </tr>
    <tr>
        <td>Summative Assessment (SA)-2</td>
        <td>By 15.03.2026</td>
    </tr>
    <tr>
        <td>Pre-Final for X class</td>
        <td>By 01.03.2025</td>
    </tr>
    <tr>
        <td>SSC Board Examinations</td>
        <td>March ,2026</td>
    </tr>
    <tr>
        <td>Final Exams for I to IX</td>
        <td>April,2026</td>
    </tr>

</table>

