
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    DEPARTMENT OF HISTORY & ARCHAEOLOGY
    ANDHRA UNIVERSITY: VISAKHAPATNAM
    M.A. History  Syllabus for Choice Based Credit System (CBCS)
    (w.e.f.2015-16 batch)

    M.A. HISTORY   SECOND YEAR

    THIRD  SEMESTER
    HARD CORE	    L	    T	    P	     C
    HC I	Historiography and Historical Method	    5	    1	    0	     6
    HC II 	Tourism Theory and Applications  	    5	    1	    0	     6
    HC III	Contemporary History of India since 1947 A.D.	    5	    1	    0	     6
    SOFT CORE
    SC IV	History of Modern Andhra (1746-1956 A.D.)	    5	    1	    0	     6
    ELECTIVE
    E V (a)	Twentieth Century World since 1919 A.D.	    5	    1	    0	     6
    E V (b)	Gender and Women in Indian History	    5	    1	    0	     6
    E V (c)	History of Modern Asia and Africa	    5	    1	    0	     6
    OPEN ELECTIVE
    OE VI	History of Science and Technology in India	    5	    1	    0	     6


    M.A. HISTORY   SECOND YEAR

    FOURTH  SEMESTER
    HARD CORE	   L	    T	    P	     C
    HC I	Archival Studies   	   5	    1	    0	     6
    HC II	Heritage Tourism and Management	   5	    1	    0	     6
    HC III 	Maritime History of India (800-1800 A.D.)	   5	    1	    0	     6
    SOFT CORE
    SC IV	Contemporary History of Modern Andhra Pradesh  since (1956-2014  A.D).	   5	    1	    0	     6
    ELECTIVE
    E V (a)	History of Subaltern People 	   5	    1	    0	     6
    E V (b)	Urban History of India	   5	    1	    0	     6
    E V (c)	Project Work	   0	    2	    4        	     6
    OPEN ELECTIVE
    OE VI	Popular Culture                  	   5	    1	    0	     6



    DEPARTMENT OF HISTORY & ARCHAEOLOGY
    ANDHRA UNIVERSITY: VISAKHAPATNAM
    M.A. Ancient History & Archaeology Syllabus for Choice Based Credit System
    (CBCS)
    (w.e.f.  2015-16 batch)

    M.A. ANCIENT HISTORY & ARCHEAEOLOGY               SECOND YEAR

    THIRD  SEMESTER
    HARD CORE	   L	    T	    P	     C
    HC I	Historiography and Historical Method	   5	    1	    0	     6
    HC II 	Tourism Theory and Applications	   5	    1	    0	     6
    HC III	Pre-History of India 	   5	    1	    0	     6
    SOFT CORE
    SC IV	Field Archaeology 	   5	    1	    0	     6
    ELECTIVE	   5	    1	    0	     6
    E V (a)	Hindu Iconography	   5	    1	    0	     6
    E V (b)	Antiquarian Laws 	   5	    1	    0	     6
    E V (c)	Art and Architecture of Andhra Pradesh	   5	    1	    0 	     6
    OPEN ELECTIVE
    OE VI	Environmental Archaeology	   5	    1	    0	     6


    M.A. ANCIENT HISTORY & ARCHEAEOLOGY                SECOND YEAR

    FOURTH SEMESTER
    HARD CORE	    L	    T	    P	     C
    HC I	Archival Studies	    5	    1	    0	     6
    HC II	Heritage Tourism Management	    5	    1	    0	     6
    HC III	Proto and Early Historical Cultures 	    5	    1	    0	     6
    SOFT CORE
    SC IV	Numismatics 	    5	    1	    0	     6
    ELECTIVE
    E V (a)	Conservation and Museology	    5	    1	    0	     6
    E V (b)	 Advanced Archaeological Theory and Research Methodology	    5	    1	    0	     6
    E V ( c)	Project Work	    0	    2	    4	     6
    OPEN ELECTIVE
    OE VI	Earth Sciences in Archaeology	    5	    1	    0	     6


    M.A. (Final) History

    Third Semester


    Paper – I         : Historiography and Historical Method
    (Common with MA Ancient History & Archaeology)

    Paper – II       : Tourism Theory and Applications

    (Common with MA Ancient History & Archaeology)
    Paper – III      : Contemporary History of India since 1947 A.D.
    Paper – IV      : History of Modern Andhra (1500-1956 A.D.)
    Paper – V (a)  : Twentieth Century World  since 1919 A.D.
    V (b)  : Gender and Women in Indian History
    V (c)  : History of Modern Asia and Africa
    Paper - VI       : History of Science and Technology in India
































    MA (Final) HISTORY
    Third Semester

    PAPER – I:   HISTORIOGRAPHY AND HISTORICAL METHOD
    (Common with MA Ancient History and Archaeology)

    Unit – I:
    a)Development of Western Historiography – Classical Period – Herodotus, Thucydides - India –  Bana and Kalhana.
    b)Medieval Period – Church Historiography – St. Augustine – Arab Historiography – Ibn Khaldun – India –  Amir Khusru, Barani  – Badauni – Abdul Fazl.

    Unit – II:
    a)Modern Historiography –  Enlightment – Edward Gibbon –  Carlyle – Auguste Comte  –  Ranke –  Toynbee – Karl Marx.
    b)British Imperialist Historiography – Sir Williams Jones – James Mill –  W.H. Moreland.

    Unit – III:
    a)Modern Indian Historiography – Nationalist, Marxist, Cambridge, Subaltern –  Annales’ School – Oral History.
    b)Contribution to Indian Historiography – Alexander Cunningham, Mortimen Wheeler, H D Sankalia, R.G. Bhandarkar – J.N. Sarkar – R.C. Majumdar – D.D. Kosambi – KA Nilakanta Sastry .

    Unit – IV :
    a)Definition, nature and scope of History – Relation of History with Other Social Sciences.
    b)Historian and his facts – Influence of Society on the Historian.

    Unit –V :
    a)Causation in History – Methodology – Heuristics – Criticism – Synthesis – Exposition.
    b)Objectivity in History – Errors in History.

    Unit – VI:
    a)Drafting Thesis – Sources of Ancient Indian History – Medieval – Modern – Primary – Contemporary Records – Government Documents –  Oral History - Secondary Sources.


    Text Books:
    1.Carr, E.H. What is History
    2.Collingwood, The Idea of History
    3.Renier, C.J., History, Its Purpose and Method.
    4.Braudel, F., On History
    5.Marwick. A., The Nature of History
    6.Elton G.R., The Practice of History
    7.Marc Bloch., The Historians Craft
    8.Gardiner, Patrick., Theories of History
    9.Cannon John (Ed.) The Historian at Work.
    10. Nilakanta Sastri and Ramanna, Historical Method with Special Reference to India.
    11. Sheik Ali, B., History and its Theory and Method.
    12. Durga Prasad. J., Charitra Rachana Sastrumu, Telugu Academy, 1992.
    13.  Nilakanta Sastry and Ramanna, Historical Method with Social Reference to India.
    14.  Sheik Ali, B., History: Its theory and Method.
    15.  E. Sreedharan, A Text Book of Historiography (500BC to 2000AD)
    16.  K. Rajayyan., History in Theory and Method.
    17.  N. Subrahmanian, Historiography.
    18.  J. Durga Prasad., Charitra Rachana Sastram, 1992.

    Reference Books:
    1.Toynbee Arnold, J., A Study of History (abridged by Somerville)
    2.Rowse A.D., The Use of History
    3.Fortesque., The Writing of History
    4.Romila Thapar, Past and Prejudice
    5.Scott, Earnest., History and Historical Problems.
    6.Croce, Benedetto., History as the Story of Liberty.
    7.S.P. Sen (Ed.)., Sources of the History of India.
    8.Walsh, W.A., Philosophy of History – An Introduction
    9.Black J.B., The Art of History
    10.John Buchan., The Casual and Casual I History
    11.Woodbridge F.J.E., The Purpose of History
    12.Spengler, Oswald., Decline of the West.
    13.  Philips, C.H. (Ed.,) Historians of India, Pakistan and Ceylon.
    14.  Ahmad Khan, S., History and Historians of British India.
    15. Hardy Peter., Historians of Medieval India, 1960.
    16.Majundar, R.C., Historiography in Modern India, Bombay, 1970.
    17.Pathak, V.S., Ancient Historians of India, Bombay, 1966.
    18.Sen, S.P., (Ed.,) Historian and Historiography in Modern India, Calcutta, 1933.
    19.Warder, A.K., An Introduction to Indian Historiography.
    20.Thomson Paul., The Voice of the Past Oral History.
    21.S. Kadhirvel., Research Methodology – History.




    M.A. (Final) HISTORY
    Third Semester

    PAPER – II :  TOURISM THEORY AND APPLICATIONS
    (Common with MA Ancient History & Archaeology)

    Unit – I:
    a.Tourism – Definition and its Socio-economic significance – Motivation for Travel.  Forms and Types Tourism – Domestic and International Tourism.
    b.Tourism as an Industry – Ancillary industries in Tourism – Tourism and other International and National Organizations – Their role in planning and Development of tourism.

    Unit – II:
    a)Tourism Marketing – Advertising and Publicity – Tour Operators – Travel Agency – Package Tours – Planning for Tourist Resorts, Different Types of Accommodation at Tourism Destinations, Catering and Entertainment.
    b)Cultural Tourism in India – Historical and Archeological monuments as Tourist attractions – Flora, Fauna, Beaches, Mountains, River Valleys, Fairs & Festivals, special events, performing arts – Dance and Music, special events, cuisine, Health, Sports, etc., as a Tourist products.

    Unit – III:
    a)Positive and Negative impacts of Tourism on Host population – Social, economic, religious and cultural; impacts of Tourism on Physical environment – Air, Water, Social, Mountains, Beaches, ecology, etc.
    b)Managerial practices to be adopted to reduce the negative impacts of tourism at different levels – Planning for sustainable Tourism and Eco-Tourism.

    TEXT BOOKS::
    1)George Young: Tourism-Blessing or Blight.
    2)Ram Acharya: Tourism in India.
    3)A.K. Bhatia: Tourism in India.
    4)A.K. Bhatia: Tourism Development.
    5)Burkart, A.J. & Medik S., The Management of Tourism.
    6)Robert McIntosh. W., Tourism, Principles, Practices and Philosophies.
    7)K.S. Misra: Tourism in India.
    8)F.R. Allchin, Cultural Tourism in India – Its Scope and Development.
    9)S.P. Gupta & Krishna Lal, Tourism, Museums and Monuments in India.
    10)M.M. Anand: Tourism and Hotel Industry in India.
    11)Michael Peters: International Tourism.
    12)V.L. Smith, Hotels and Guests.
    13)J.V. Salvato, Guide to Sanitation in Tourist Establishments.
    14)Pran Nath Seth, Successful Tourism Management.

    M.A. (Final) HISTORY
    Third Semester
    PAPER –III :    CONTEMPORARY HISTORY OF INDIA SINCE 1947 A.D.

    Unit – I:
    a)The Partition of India – Visions of new India – Integration of Princely States – Beginnings of Planned Economy – The Kashmir and Hyderabad issues.
    b)The Constitution of India – Salient Features – Reorganization of States – Formation of Andhra (1956) – Foreign Policy – Non-Alignment – India and the Commonwealth – India and Super Powers – Indian Relations.
    Unit – II:
    a)Socio-Economic Policy – The Five Year Plan; Socialistic Pattern of Society – The Land Reforms – Industrial Policy – Education-Health-Science and Technology – Women, Hindu Code Bill.
    b)Social Welfare – Upliftment of Weaker Sections – SCs and STs and Backward Classes – National Integration.
    Unit – III:
    a)Function of Parliamentary Democracy – Political Parties – The Swatantra Party-The Socialist Party-The Communist Party-The Congress Split – Emergence of Regional Parties – NTR and the Telugu Desam Party in Andhra Pradesh.
    b)The Emergency – Indira Gandhi – The Jayaprakash Narayan Movement – The Janata Party Rule-1977-1980 – Indira Gandhi’s return to Power – 1980-India and the NAM – The Sikh Problem – Rajiv years – Punjab Crisis – Politics in the States – Growth of Communalism – India at the threshold of the Millennium – Developments in Science and Technology, Information and Communications – PV Narasimha Rao as Prime Minister – Introduction of New Economic Reforms – Foreign Policy.

    Books for Reading
    1.B. Shiva Rao (ed.) The Framing of India’s Constitution: A Study.
    2.Granville Austin. The Indian Constitution: Cornerstone of A Nation.
    3.S. Gopal, Jawarharlal Nehru – A Biography, 3 Vols.
    4.W.H. Morris – Jones The Government and Politics of India.
    5.Norman D. Palmer, The Indian Political System.
    6.Jyotirindra Das Gupta, Langauge Conflict and National Development.
    7.Rajni Kothari, Politics in India.
    8.B.R. Nanda (Ed.) Indian Foreign Policy: The Nehru Years.
    9.RK Karanjia., The Philosophy of Nehru.
    10.Geoffrey Tyson Nehru: The Years of Power.
    11.Myron Weiner Party Politics in India.
    12.Kuldip Nayar India: The Critical Years.
    13.Zareer Masani, Indira Gandhi: A Biography
    14.Mary C. Carras., Indira Gandhi – In the Crucible of Leadership.
    15.Francine R. Frankel, India’s Political Economy, 1947 – 1977.
    16.Nicholas Nugent, Rajiv Gandhi: Son of a Dynasty.
    17.VP Dutt, India’s Foreign Policy in a Changing World.
    18.Bipin Chandra, et.al., India’s Struggle for Independence.
    19.KN Raj., Indian Economic Growth: Performance and Prospects.
    20.Dharma Kumar (ed.,), The Cambridge Economic History of India (1947-70), 2Vols.
    21.J. Bhagwati and P. Desai, India: Planning for Industrialization.
    22.Isher J. Ahluwalia and IMD Little (eds.) India’s Economic Reforms and Development: Essays for Manmohan Singh.
    23.Bimal Jalan, (ed.) The Indian Economy: Problems and Prospects.
    24.Bipan Chandra., Essays on Contemporary India.
    25.A.R. Desai (ed.) Agrarian Struggles in India after Independence.
    26.Bipin Chandra., Indian Since Independence.





















    MA (Final) HISTORY
    Third Semester
    PAPER – IV :  HISTORY OF MODERN ANDHRA (1746 – 1956 A.D.)

    Unit – I:
    a)Anglo – French rivalry in Andhra – British acquisition of Circars, Ceded, Districts, Nellore and Chittoor – Andhra under East India Company 1802-57 – Permanent Revenue Settlement – Sir Thomas Munro and the Ryotwari Settlement – Revolt of 1857 – Its effects on Andhra and Telangana.
    b)Social Reform Movement in Andhra – Political awakening in Andhra – Political and Economic conditions in Telangana – Social and cultural awakening – Establishment of Sri Krishna Devaraya Bhashanilayam.
    Unit – II:
    a)Freedom movement in Andhra – Vandemataram Movement and its impact – Home rule Movement in Andhra – Non-Cooperation Movement in Andhra.
    b)Alluri Sitaramaraju – Rampa Rebellion – Salt Satyagraha and Civil disobedience Movement in Andhra – Quit India Movement in Andhra – Political Movements in Andhra, 1945-1956.
    Unit – III
    a)Political awakening in Telangana – Establishment of Hyderabad State Congress – Police action in Hyderabad – Integration of Hyderabad with India.
    b)Movement for the formation of Andhra State – Andhra Mahasabha and its activities upto 1943 – Sri Bagh Pact – Martyrdom of Potti Sriramulu – Formation of Andhra State (1953) – State Reorganization Commission – Gentlemen’s Agreement and Emergence of Andhra Pradesh 1956.

    Text Books:
    1.P. Raghunadha Rao, History of Modern Andhra.
    2.Sarojini Regani, Highlights of Freedom Struggle in Andhra Pradesh.
    3.KV Narayana Rao, The Emergence of Andhra Pradesh.
    4.Y. Sudarsana Rao, Between the Empires.
    5.M. Venkata Rangaiya, History of Freedom Struggle in Andhra, 4 Vols.
    6.M. Soma Sekhara Sarma, Vijnana Sarvasamu, Vol.-III.
    7.G.V. Ramana Rao, Economic Development in Andhra Pradesh 1766-1957.
    8.V. Rama Krishna, Social Reform in Andhra.
    Reference Books:
    1.Sarojini Regani, Anglo-Nizam Relations.
    2.T.H. Beaglehole, Sir Thomas Munro and the Development Administrative Policy in Madras 1792-1818.
    3.A. Sarada Raju, Economic Conditions in the Madras Presidency 1800-1858 (Relevant Portions).
    4.M.S.R. Anjaneyulu, Vizagapatnam District 1769-1834.
    5.R.E. Frykenberg, Guntur District 1788-1848.
    6.B. Kesavanarayana, Political and Social Factors in Andhra 1900-1956.
    7.G. Rudrayya Chowdary, T. Prakasam – A Political Study.
    8.A. Prasanna Kumar, B. Pattabisitaramayya – A Political Study.
    9.C.J. Baker, Politics of South India. 1920-1937.
    10.T. Prakasam, Na Jeevita Yatra (Telugu)
    11.A. Kaleswara Rao, Na Jeevita Katha, Navyandhramu (Telugu).
    12.D. Chenchayya, Nenu Na Desamu (Telugu).
    13.D. Ramanuja Rao, Telangana Jateeyodyamamulu (Telugu).
    14.Ravi Narayana Reddy, Veera Telangana (Telugu).
    15.P. Sivunnaidu, Proscribed Telugu Literature and National Movement in Andhra 1920-1947.
    16.Y. Vittal Rao, Education and Learning in Andhra under the East India Company.
    17.S.R. Maheswary, Society and Culture.



    M.A. (Final) HISTORY
    Third Semester

    PAPER –V (a) :  TWENTIETH CENTURY WORLD SINCE 1919 A.D.

    Unit – I:
    a)Fourteen Points of Woodrow Wilson – Paris Peace Conference – The treaty of Versailles – The treaty of the Saint Germain – The treaty of Neuilly – The Treaty of Trainon – The Treaty of Serves.
    b)The League of Nations – Aims – Organization – Accomplishments.  Turkey – Mustapha Kemal and Modernization of Turkey.

    Unit – II:
    a)Rise of Fascism – Mussolini – Domestic and Foreign Policies – Germany under Hitler – Nazism – Domestic and Foreign Policy
    b)Causes of World War II –  Role of Allies and Axis Powers, The UNO – Aims – Organization – Its achievements – Cold War – Korean War, Vietnam War – Military Alliances – NATO-SEATO-CENTO – Warsaw Pact.

    Unit – III:
    a)European Common Market – Britan’s entry into the Common Market, The British CommonWealth of Nations.
    b)Indian Foreign Policy – Jawahar Lal Nehru – Non-Alignment.  Indo-Pak Relations 1947-71 – Kashmir Problem – Indo-Pak War of 1965 – Indo-Pak War of 1971.

    Text Books:
    1.Dhar, S.N., International Relations and World Politics since 1919.
    2.Carr, E.H., International Relations between the two World Wars.
    3.Gupta, Karunakar., Indian Foreign Policy.
    4.Jackson, J. Hampden., The Post-war World – A Short Political History.
    5.Knapp, W., A History of War and Peace 1934-1965.
    6.Longsam, W.C., The World since 1914.

    Reference Books:
    1.Craig, G.A., Germany 1866-1943
    2.Feis, H., From Trust to Terror, The Onset of the Cold War 1945-1950.
    3.Fleming, D.F. Cold War and its Origins.
    4.Gibbons, S.R. and Morcon., League of Nations and UNO
    5.Hill, C.P., The USA Since the First World War.
    6.Jawahar Lal Nehru., India’s Foreign Policy.
    7.Taylor, AJP., The Origin of the Second World War.

    M.A. (Final) HISTORY
    Third Semester

    Paper – V (b) : GENDER AND WOMEN IN INDIAN HISTORY


    Unit – I .   Gender, Feminism and Patriarchy, Brahmanical Patriarchy

    Unit – II    Definitions, Historiography: special reference to the works of Gerda Lerner, Betty
    Friedan,  Simone de Beauvoir, Uma Chakravarti, Kumkum Roy, Tanika Sarkar

    Unit – III   Feminist Approaches 08 Marxist, Liberal, Radical, Postmodern

    Unit – IV   Caste and Gender in India - Women in Indian philosophy - Women in Indian religion
    - Women  in Modern India







    Books :

    1.  Beauvoir, Simone, the Second Sex.

    2.  Chakravarti, Uma, Gendering Caste.

    3. Chakravarti Uma, everyday Lives, Everyday Histories : Beyond the Kings and Brahmanas of
    ‘Ancient’

    4. India, New Delhi, Tulika Books, 2006.

    5. Kelkar, Meena and Gangavane, Deepti (ed.), Feminism in Search of an Identity.

    6. Lerner, Gerda, On Patriarchy. Roy, Kumkum (ed.), Women in early Indian Societies.

    7. Sangari, Kumkum and Chakravarti, Uma, From Myths to Markets.

    8. Tharu Susie, Women Writing in India







    M.A. (Final) HISTORY
    Third Semester

    Paper – V (c) :  HISTORY OF MODERN ASIA AND AFRICA

    Unit – I :    Colonialism in Asia and Africa in the 19th and 20th centuries-Indonesia, Indo-China
    and South Africa.

    Unit -  II :  China : Opium wars - Taiping Rebellion, Boxer Rebellion-1911 Revolution - A
    decade of  Transition - The May 4th Movement - Dr.Sun-Yat-Sen-KMT, CCP and the
    establishment of People’s Republic of China.

    Unit -  III : Japan : Meiji revolution-Constitutional Change, Russo - Japan war 1904-05-First
    world war and Japan - Militarism in Japan -Second World War & Japan , Post Second
    World War upto 1955  A.D.
</p>